﻿@{
    ViewData["Title"] = "Home Page";
}

<form name="form1" id="form1" method="post" action="/Home/AddCategory">
    <div>New Category</div>
    <input type="text" name="categoryName">
    <br />
    <input type="submit" />
</form>