﻿@model ASP.NetCore_L2_HandsOn.Models.AddProductViewModel
@{
    ViewData["Title"] = "Add Product";
}

<form name="form1" id="form1" method="post" action="/Home/AddProduct">
    <div>SubCategory Name</div>
    <select asp-for="SubCategoryId" asp-items="Model.SubCategories"></select>
    <br>
    <div>New Product</div>
    <input type="text" name="ProductName">
    <br />
    <input type="submit" />
</form>