﻿@model ASP.NetCore_L2_HandsOn.Models.AddSubCategoryViewModel
@{
    ViewData["Title"] = "AddSubCategories";
}


<form name="form1" id="form1" method="post" action="/Home/AddSubCategory">
    <div>CategoryName</div>
    <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    <br>
    <div>New SubCategory</div>
    <input type="text" name="subCategoryName">
    <br />
    <input type="submit" />
</form>