﻿@model ASP.NetCore_L2_HandsOn.Models.ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<cache expires-after="@TimeSpan.FromHours(1)">

    <form name="form2" id="form2">
        <div>Category Name</div>
        <select asp-for="ProductCategoryId" id="categoryList" asp-items="Model.ProductCategories" onchange="categorySelect()">
            <option value="0">Select Category</option>
        </select>
        
        <br><br>
        <div>SubCategory Name</div>
        <select asp-for="ProductSubCategoryId" id="subCategoryList" asp-items="Model.ProductSubCategories" onchange="subCategorySelect()">
            <option value="0">Select Category First</option>
        </select>
        <br><br>
        <div>Product Name</div>
        <select asp-for="ProductId" id="productList" asp-items="Model.Products">
            <option value="0">Select SubCategory First</option>
        </select>
        <br><br>
        <input type="submit" value="submit">
    </form>
</cache>

<script>
    async function categorySelect(){
        var selectedCategoryId = document.getElementById("categoryList").value;
        var response = await fetch("Home/GetSubCategories/" + selectedCategoryId)
        var subcategories = await response.json();

        var subCategoryList = document.getElementById("subCategoryList");
        subCategoryList.length = 1;

        for (let i = 0; i < subcategories.length; i++) {
            subCategoryList.options[subCategoryList.options.length] = new Option(subcategories[i].name, subcategories[i].id);
        }
    }

    async function subCategorySelect() {
        var selectedSubCategoryId = document.getElementById("subCategoryList").value;
        var response = await fetch("Home/GetProducts/" + selectedSubCategoryId)
        var products = await response.json();

        var productList = document.getElementById("productList");
        productList.length = 1;

        for (let i = 0; i < products.length; i++) {
            productList.options[productList.options.length] = new Option(products[i].name, products[i].id);
        }
    }
</script>
