﻿@model SetUserAdminViewModel

<form method="post">
    <div class="form-group">
        <select asp-for="SelectedUser" asp-items="Model.Users"></select>
    </div>
    <div class="form-group">
        <label asp-for="MakeAdmin"></label>
        <input asp-for="@Model.MakeAdmin" />
    </div>
    <input type="submit" />
</form>